body {
    background-color: bisque;
}

h1 {
    text-align: center;
    font-size : 6rem;
    color : palevioletred;
    border-bottom: 3px solid purple;
    padding-bottom: 20px;
    transition: color 1s ease-in-out;
}

.clicked { 
    font-size : 6rem;
    color: purple;
}

.btn, .name {
    cursor: pointer;
}

